.container {
  position: relative;
  margin-top: 143px;
  background: radial-gradient(
    80.98% 80.98% at 50% 72.8%,
    #040404 0%,
    #141414 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 229px;
}

.phoneImage {
  margin-bottom: -4px;
}

.nameIphone {
  font-family: Geologica;
  font-weight: 300;
  font-size: 30px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}

.title {
  font-family: Geologica;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0%;
  line-height: 50px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 70px;
}
.titleSpan {
  font-family: Geologica;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #f3c8a7;
}

.mainButton {
  width: 253px;
  height: 45px;
  border-radius: 26px;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 14px;
  border: none;
  /* identical to box height, or 93% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #0071e3;
}
/* 
.imageWrapper {
    width: 464px; 
    height: 428px;
    overflow: hidden;
  position: absolute;
bottom: -3px;
left: 287px;

  }
  
  .imageWrapper img {
    object-fit: cover; 
    width: 100%;
    height: auto;
  } */
