.container {
  position: relative;
  height: 685px;
  background: radial-gradient(
    107.59% 107.59% at 50% 86.42%,
    #f5f5f7 0%,
    #bbbbbb 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 308px;
}

.textwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameIphone {
  font-family: "Geologica";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0%;
  color: #060606;
}

.title {
  font-family: "Geologica";
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #5a5a5a;
}

.price {
  font-family: "Geologica";
  font-weight: 300;
  font-size: 30px;
  line-height: 51.42px;
  letter-spacing: 0px;
  text-align: center;
  color: #060606;
  padding-bottom: 20px;
}

.mainButton {
  width: 165px;
  height: 45px;
  border: 1px solid #0071e3;
  border-radius: 26px;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 14px;

  color: #000;

  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mainButton:hover {
  background-color: #0071e3;
  color: #ffffff;
}

.imageWrapper img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.imageWrapper:hover img {
  transform: scale(1.2);
}
