.productInfoConteiner {
  margin-top: 150px;
  margin-bottom: 100px;

  padding-left: 100px;
  padding-right: 100px;
}

.productInfoBlock {
  width: 1240px;
  height: 645px;

  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

  margin: 0 auto;
}

.productImg {
  width: 376px;
  height: 445px;
}

.infoBlockItem {
}

.productName {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;

  color: #060606;
}

.productMaterial {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;

  color: #5a5a5a;

  margin-bottom: 40px;
}

.productList {
  width: 454px;

  list-style: none;

  margin-bottom: 39px;
}

.productItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;

  color: #5a5a5a;
}

.productSpan {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;

  color: #5a5a5a;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 125px;
}

.priceItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 51px;

  color: #060606;
}

.priceButton {
  width: 165px;
  height: 45px;

  border: 1px solid #0071e3;
  filter: drop-shadow(3px 3px 7.5px rgba(0, 0, 0, 0.25));
  border-radius: 26px;

  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
  color: #0071e3;
  cursor: pointer;
}

.priceButton:hover {
  background: #0071e3;
  box-shadow: 3px 3px 7.5px rgba(0, 0, 0, 0.25);
  color: white;
}

.productCharacteristicBlock {
  width: 1240px;
  height: 1615px;

  margin: 50px auto;

  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

.productCharacteristicBlockMainText {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  text-align: center;

  padding-top: 50px;

  color: #060606;
}

.productCharacteristicFlexBlock {
  padding-top: 52px;
  display: flex;

  justify-content: center;
  gap: 167px;
}

.productCharacteristicFirstBlock {
}

.productCharacteristicSecondBlock {
}

.mainTextTypeOfDescription {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  color: #060606;

  width: 220px;
}

.characteristicImg {
  width: 364px;
  height: 290px;

  padding-top: 30px;
}

.colorChanger {
  padding-top: 30px;
  padding-bottom: 20px;
}

.colorChangerSpan {
  cursor: pointer;
  transition: all 0.3s ease;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;

  color: #5a5a5a;
}

.active {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;

  color: #171717;
}

.productCharacteristicTextItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #5a5a5a;

  text-align: center;
}

.productCharacteristicList {
  padding-top: 60px;

  width: 466px;
}

.productCharacteristicListItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #6e6e73;
}

.productCharacteristicListItem:not(:last-child) {
  padding-bottom: 10px;
}

.productCharacteristicCapacityBlock {
  display: flex;
  gap: 30px;

  padding-bottom: 51px;
}

.productCharacteristicCapacityList {
  list-style: none;
}

.productCharacteristicCapacityListItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  color: #5a5a5a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productCharacteristicCapacityListItem:not(:last-child) {
  padding-bottom: 13px;
}

.productCharacteristicCapacityListItem.active {
  font-weight: 800;
  color: #171717;
}

.productText {
  width: 366px;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #5a5a5a;

  padding-top: 20px;
  padding-bottom: 10px;
}

.productTextItem {
  width: 366px;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #5a5a5a;

  padding-bottom: 50px;
}

.chipList {
  padding-top: 20px;
  padding-bottom: 50px;

  width: 344px;
}

.chipListItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #6e6e73;
}

.chipListItem:not(:last-child) {
  padding-bottom: 21px;
}

.lastProductCharacteristicBlock {
  padding-top: 40px;

  margin: 0 auto;
  max-width: 1000px;
  gap: 136px;
}

.lastProductCharacteristicBlock {
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.productCharacteristicItemBlock {
}

.listCharacteristic {
  width: 478px;
}

.listCharacteristicItem {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #6e6e73;
  padding-top: 20px;
}

.additionalProductsBlock {
  width: 1240px;
  height: 521px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  margin: 50px auto;
}

.mainTextAdditionalProducts {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #060606;

  text-align: center;
  padding-top: 50px;
}

.listBuy {
  list-style: none;
  gap: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.itemBuy {
  width: 195.35px;
  position: relative;
  transition: transform 0.5s ease;
  padding-bottom: 40px;
}

.imgBlock {
  width: 195.35px;
  height: 195.35px;

  background: radial-gradient(
    101.63% 46.76% at 34.76% 31.51%,
    #f5f5f7 0%,
    #bbbbbb 100%
  );

  box-shadow: 0px 5.60806px 9.34677px 3.73871px rgba(0, 0, 0, 0.15),
    0px 1.86935px 2.80403px rgba(0, 0, 0, 0.3);
  border-radius: 15.6785px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemMainText {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  color: #060606;
  text-align: center;

  margin-top: 13px;
  margin-bottom: 8px;
}

.itemText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #060606;

  text-align: center;
}

.contentWrapper {
  transition: transform 0.5s ease;
}

.hovered .contentWrapper {
  transform: translateY(-10px);
}

.addToCartBtn {
  background: #0071e3;
  box-shadow: 3px 3px 7.5px rgba(0, 0, 0, 0.25);
  border-radius: 26px;

  width: 209px;
  height: 33px;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  color: #ffffff;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  margin-top: 10px;
}

.hovered .addToCartBtn {
  opacity: 1;
  pointer-events: auto;
}

.hovered .addToCartBtn {
  opacity: 1;
}

.hoveredAddToCartBtn {
  width: 207px;
  height: 31px;

  background: #ffffff;
  border-radius: 29px;

  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #0071e3;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  margin-top: 10px;
}

.hovered .hoveredAddToCartBtn {
  opacity: 1;
  pointer-events: auto;
}

.hovered .hoveredAddToCartBtn {
  opacity: 1;
}
