.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBBBBB;
}

.containerProducts{
    display: flex;
}

.containerList{
display: flex;
gap: 32px;
margin-left: 40px;
}